:root {
    --primary-clr: #59b256;
    --primary-hover: #468c43;
    --secondary-clr: #555;
}

.hide {
    display: none;
}

.screen-blur {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 60%);
    z-index: 8999;
}