:root {
    --primary-clr: #6556b2;
    --primary-hover: #482886;
    --secondary-clr: #555;
}

.hide {
    display: none;
}

.screen-blur {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 60%);
    z-index: 8999;
}

.line {
    border-bottom: 10px solid var(--primary-clr);
    width: 25%;
}

::-webkit-scrollbar {
    display: none;
}